{% for member in site.data.members.members %}
<li class="catalogue-item transition member">
    <p class="catalogue-type transition">
        {{ member.role }}
    </p>
    <div class="catalogue-info transition">
        <h1 class="catalogue-title">
            {{ member.name }}
        </h1>
        <p class="catalogue-sub">
            {{ member.intro }}
        </p>
    </div>
    <div class="member-skill">
        <ul>
            {% for skill in member.skills %}
            <li class="skill_name">
                {{ skill }}
            </li>
            {% endfor %}
        </ul>
    </div>
</li>
{% endfor %}
