<div class="resume-info">
    <p class="second-label">
        <span class="label-emoji">
        📚
    </span> &nbsp; 온라인 강의
    </p>
</div>

<ul>
    {% for porj in site.data.experience.done %}
    <li class="catalogue-item transition">
        <a class="catalogue-body" href="{{ porj.link }}">
        {{ porj.name }}
        </a>
    </li>
    {% endfor %}
</ul>

<div class="resume-info">
    <p class="second-label">
        <span class="label-emoji">
        📚
    </span> &nbsp; 기획중인 강의
    </p>
</div>

<ul>
    {% for porj in site.data.experience.upcoming %}
    <li class="catalogue-item transition">
        <p class="catalogue-body" style="color: light-grey;">
            {{ porj.name }}
        </p>
    </li>

    {% endfor %}
</ul>