<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TPVGBBM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% assign current = page.url | downcase | split: '/' %}

    <nav id="nav" class="collapse navbar-collapse">
        <ul class="nav nav-container">
            <li class="transition">
                <a href="{{ '' | prepend: site.baseurl }}/" {% if current[1]=="about" or current[1]=="blog" or current[1]=="bootcamp" or current[1]=="translation" or current[1]=="member" %} class="normal" {% endif %} class="active">Datarian</a>
            </li>
            <li class="transition">
                <a href="{{ '/bootcamp' | prepend: site.baseurl }}" style="color:rgb(237, 78, 20)"{% if current[1]=="bootcamp" %} class="active" {% endif %}>Bootcamp</a>
            </li>
            <li class="transition">
                <a href="{{ '/blog' | prepend: site.baseurl }}" {% if current[1]=="blog" %} class="active" {% endif %}>Blog</a>
            </li>
            <li class="transition">
                <a href="{{ '/member' | prepend: site.baseurl }}" {% if current[1]=="member" %} class="active" {% endif %}>Members</a>
            </li>
            
            <div class="dropdown">
                <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a><button onclick="myFunction()" class="dropbtn">부트캠프 신청</button></a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="https://forms.gle/AXiyt8sMQcVEgbPW7">입문반 신청하기</a>
                    <a href="https://forms.gle/tRPrpuGEqm3AMXSr8">실전반 신청하기</a>
                    <a href="https://forms.gle/HkTPEsHGqEQQCjhz9">패키지 신청하기</a>
                </div>
            </div>
        </ul>
    </nav>

    <br>
    <main>
    <div style="text-align:center">
        <!-- <a href="https://forms.gle/7fUbLoHv4ijKuowc6" target="_blank" class="webinar_banner_click">
            <img src="img/webinar.png" alt="비전공자 4명, 어떻게 데이터 분석가 됐을까? 웨비나" width="800">
        </a> -->
     <a href="https://forms.gle/cN6vwGsePG461BEG6" target="_blank" class="webinar_banner_click">
            <img src="https://datarian-kr.github.io/img/webinar.png" alt="월간 데이터리안 웨비나" width="800">
        </a>
    </div>
    </main>
    {% if page.post-header == true %} {% include post-header.html %} {% endif %} {% if page.project-header == true %} {% include project-header.html %} {% endif %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}

</body>

</html>